 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!--<div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>-->
    <div class="tech">
      <h2>Code</h2>      
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain"></i>
	  <i class="devicon-java-plain-wordmark colored"></i>

	  <img src="assets/fonts/mlLogos/tensorflow-tf.svg" class="container"> 	  
	  <img src="assets/fonts/mlLogos/cuda.svg" class="container">
	  <img src="assets/fonts/mlLogos/Matlab_Logo.png" class="container">	  
	  <img src="assets/fonts/mlLogos/pandas.png" class="container">
	  <img src="assets/fonts/mlLogos/scikit-learn-logo-notext.png" class="container">
	  <img src="assets/fonts/mlLogos/numpy.svg" class="container">
	  
      <p>Languages I have picked up over the years.</p>
    </div>
	
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>	  
	  <i class="devicon-visualstudio-plain colored"></i>	  
	  <i class="devicon-linux-plain colored"></i>	  
	  <img src="assets/fonts/mlLogos/eclipse.png" class="container">
	  <i class="devicon-pycharm-plain-wordmark"></i>
      <p>Tools I use for a living.</p>
    </div>
</div>
