<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">   
	<!--<iframe width="100%" src="https://www.youtube.com/embed/BLLwSTm73IM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
	<div class="containerV"> 
	<iframe src="https://www.youtube.com/embed/BLLwSTm73IM" frameborder="0" allowfullscreen class="video"></iframe>
	</div>
  </div>  
  <div class="contents">
    <h3> Face Morphing </h3>
    <ul>
      <li>Matlab, Image Processing</li>
    </ul>
    <p>The goal of this project was to smoothly morph one face to another face using the thin plate spline, radial basis function. Morphing
combines both shape and color of reference images. It is pretty similar to what you see in movies when a face morphs into another
character.</p>
    <a class="project-link" href="https://github.com/remalcodex/ImageProcessing/tree/master/FaceMorphing" target="_blank">Check it out</a>
  </div>
</div>
<div>
    <span class="sexy_line"></span>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/higgsboson.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Searching for Higgs-Boson Particles Using Machine Learning Techniques </h3>
    <ul>
      <li> Python, Tensorflow, Pandas, Scikit-learn</li>
    </ul> 
    <p>Searching for exotic particles like the Higgs-Boson in a high energy particle collider is essentially a complex signal-versus-background classification problem. Hence in this project we, a team of two, used Machine learning in python with pandas, scikit-learn and tensorflow to produce meaningful results. Employed classification algorithms like deep neural networks, logistic regression and decision trees using python on the UCI Machine Learning ‘HIGGS Data Set’ to predict whether an output signal from a collider, is a Higgs-Boson Particle signal or simply background noise. Achieved the accuracy of 76% with a deep neural network of 9 layers.</p>
    <a class="project-link" href="https://github.com/remalcodex/MachineLearning/tree/master/Higgs_Boson_Project" target="_blank">Check it out</a>
  </div>
</div>
